button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 2px;
  border-style: none;
  font-size: 18px;
}

button:focus {
  outline: 0;
}

.zero {
  width: 105px;
  border-radius: 40px;
}

.dark,
.zero {
  background-color: #4d4a4a;
  color: white;
}

.orange {
  background-color: #f0973e;
  color: white;
}

body {
  color: white;
  background-color: #272525;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}

p {
  font-size: 30px;
}
